<script type="text/x-mathjax-config">
  MathJax.Ajax.config.path['siunitx'] = "{{ "/assets/js/" | real_relative_url }}";
  MathJax.Hub.Config({
    extensions: [
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js",
      "[siunitx]/siunitx.js",
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
        "[siunitx]/siunitx.js"
      ],
      equationNumbers: {
        autoNumber: "AMS"
      }
    }
  });
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
