<nav>//
  {% for item in site.data.navigation %}
    <a href="{{ item.link | real_relative_url }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a> //
  {% endfor %}
</nav>
