body {
    max-width: 650px;
    line-height: 1.6;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 18px;
    color: #333;
    background-color: #fdfdfd;
    margin: 40px auto;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

a {
    color: #3070B9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #306590;
}

.current {
  font-weight: bold;
}

.question {
    font-style: italic;
}

table {
    margin: 1.6em auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
}

img {
    width: 100%;
}
